@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background-color: #131119;
	padding: 20px 15px 15px 15px;
}

a {
	text-decoration: none;
}

.header_text {
	display: grid;
	position: relative;
	text-align: center;
	color: rgb(255, 255, 255);
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
	text-align: center;
}

.header_text::selection {
	background-color: #571826;
}

.PButton {
	display: flex;
	align-items: center;
	color: rgb(255, 255, 255);
	background-color: #9c1a37;
	border-style: none;
	border: 1px solid #cf294e;
	border-radius: 6px;
	width: 180px;
	height: 40px;
	margin-bottom: 10px;
	cursor: pointer;
	transition: 0.2s;
	box-shadow: 0px 0px 13px rgba(156, 26, 55, 0.15);
}

.PButton:hover {
	background-color: #af2442;
}

.PButton:active {
	background-color: #88172f;
}

.PButton::selection {
	background-color: #571826;
}
.PIcon {
	margin-right: 15px;
	margin-left: 15px;
	font-size: 19px;
}

.description {
	margin-top: 5px;
}

.description_text {
	color: #464154;
}

.dt::selection {
	background-color: #571826;
}

.source {
	margin-bottom: 4px;
	color: #9c1a37;
}

.DIcon {
	display: flex;
	align-items: center;
}
